:root {
  color-scheme: light dark;
  --green: #00b755;
  --yellow: #daaf38;
  --red: #ca4754;
  --black: #222;
  --gray: #999;
}

body {
  background: var(--black);
  color: white;
  font-family: monospace;
  display: grid;
  padding: 32px;
  justify-content: center;
  margin-top: 32px;
  padding: 16px;
}

section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 500px;
}

time {
  color: var(--yellow);
}

input {
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0
}

p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3px 8px;
}

letter {
  color: var(--gray);
  position: relative;
}

word {
  border-bottom: 1.5px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.marked {
  border-color: var(--red);
}

.active::before {
  content: '|';
  color: var(--yellow);
  font-size: 14px;
  position: absolute;
  left: -65%;
  animation: 1s blink Infinite ease-in-out;
}

@keyframes blink {

  0%,
  25% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }
}

.correct {
  color: var(--green);
}

.incorrect {
  color: var(--red);
}

.active .is-last::before {
  left: 65%;
}

#game {
  display: flex;
}

#results {
  display: none;
}

h2 {
  font-weight: 400;
  opacity: .4;
  margin: 0;
  font-size: 16px;
}

h3 {
  font-weight: 400;
  margin: 0;
  font-size: 24px;
  color: var(--yellow);
}

#reload-button {
  background: transparent;
  color: white;
  border: 0;
  margin-top: 32px;
  padding: 8px;
  opacity: .4;
  display: inline-block;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 16px;
}

#reload-button:hover {
  background: #444;
  opacity: 1;
  scale: 110%;
}